Source: soundscape
Maintainer: Denis Danilov <danilovdenis@yandex.ru>
Section: sound
Priority: optional
Build-Depends: debhelper-compat (=13),
 cmake,
 libgl-dev,
 qt6-base-dev,
 qt6-multimedia-dev,
 qt6-tools-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/ddanilov/soundscape
Rules-Requires-Root: no

Package: soundscape
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, libqt6svg6
Description: Desktop soundscape application
 Soundscape is an open-source system-tray resident desktop application
 for playing a mix of sounds, e.g. natural sounds by animals or wind
 and water.
